@import url('https://https://www.fontbolt.com/font/28-days-later-font/');

* {
    margin: 0;
    
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: rgb(0, 218, 11);
}

body {
    background: var(--bg-color);
    height: 100%;
}
html {
    height: 100%;
}

.header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    z-index: 100;
}

.logo {
    height: 100px;
}

.navbar a {
    font-size: 1.3rem;
    color: var(--text-color);
    margin-left: 4rem;
    
    transition: .3s;
}

.navbar a:hover, 
.navbar a.active {
    color: var(--main-color);
}
.btn {
    border-color: #fff;
    background-color: inherit;
    color: #eee;
    padding: 5px 5px;
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
  }
    /* On mouse-over */
  .btn:hover {
    background: var(--main-color);
}
.comp {
    background-image: url("images/Capture.JPG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    width: 100%;
    height: 100%;
    transition: .5s ease;
}
.comp::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #00000088 35%, #ffffff44 100%);
}
.name {
    font-size: 5rem;
    font-family: "28 DAYS LATER", serif;
    color: white;
    position: absolute;
    top: 60%;
    left: 30%;
    transform: translate(-50%, -50%);
    transition: .5s ease;
}

.name2 {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    position: absolute;
    top: 65%;
    left: 30%;
    transform: translate(-50%, -50%);
}
.btn3 {
    border-color: green;
    background-color: var(--main-color);
    color: #eee;
    position: absolute;
    top: 73%;
    left: 16%;
    padding: 7px 7px;
    font-size: 22px;
    cursor: pointer;
    display: inline-block;
}
    /* On mouse-over */
.btn3:hover {
    background: green;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    gap: 3rem;
    background: var(--text-color);
    padding: 100px;
    transition: .5s ease;
}

.about-img img {
    float: right;
    width: 30vw;
}

.heading {
    text-align: center;
    font-size: 2.5rem;
    color: var(--main-color);
    
}

.about-content h2 {
    text-align: left;
    line-height: 1.6;
}

.about-content h3 {
    font-size: 1.2rem;
}

.about-content p {
    font-size: 1rem;
    text-wrap: 10px;
    width: 50%;
    margin: 5rem 0 5rem;
}
.btn2 {
    border-color: #fff;
    background-color: inherit;
    color: #404040;
    padding: 5px 5px;
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
    transition: .5s ease;
}
    /* On mouse-over */
.btn2:hover {
    background: var(--main-color);
}

.services {
    background: var(--bg-color);
    width: 100%;
    height: 100%;
    display: flex;
}

